[run]
source = autocnet
[report]
omit =
    autocnet/fileio/ControlNetFileV0002_pb2.py
    autocnet/vis/graph_view.py
    autocnet/fileio/sqlalchemy_json/*
    autocnet/fileio/io_multibandimager.py
    autocnet/fileio/io_moon_minerology_mapper.py
    autocnet/fileio/header_parser.py
    autocnet/fileio/io_ccs.py
    autocnet/fileio/io_jsc.py
    autocnet/fileio/io_edr.py
    autocnet/fileio/lookup.py
    autocnet/fileio/utils.py
    autocnet/utils/folds.py
    autocnet/spectral/*
    bin/*
    */tests/*
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == __main__:
