[run]
source = autocnet
[report]
omit =
    autocnet/vis/graph_view.py
    autocnet/__init__.py
    autocnet/matcher/cuda_*
    bin/*
    */tests/*
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == __main__:
